* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  background-image: url(../public/img/4.png);
  background-size: cover;
}

body::-webkit-scrollbar {
  background-image: url(../public/img/4.png);
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: #5b6561;
  border-radius: 10px;
  border: 1px solid #787c84;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #8a8c76;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  min-height: 600px;
  background: #cac0b1;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  color: #19444A;
  margin: 32px auto;
  font-size: 33px;
}

.complete {
  text-decoration: line-through;
}

.todo-form {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto 32px auto;
}

.todo-input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #787c84;
  outline: none;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #787c84;
  color: white;
  text-transform: capitalize;
}

.todo-row-main {
  width: 95%;
  text-align: left;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  color: #787c84;
  background: #f6f5f2;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.iconsContainer {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.separator {
  height: 1px;
  width: 80%;
  align-self: center;
  background-color: #8A8C76;
  border: none;
  margin-bottom: 32px;
}

@media (max-width: 426px) {
  .todo-app {
    width: 70%;
    margin: 100px auto;
  }
  h1 {
    margin: 26px auto;
    font-size: 30px;
  }
  .todo-form {
    margin: 0 auto 26px auto;
  }
  .todo-input {
      padding-inline: 10px;
  }
}

@media (max-width: 321px) {
  .todo-app {
    width: 80%;
    margin: 80px auto;
  }
  h1 {
    margin: 20px auto;
    font-size: 28px;
  }
  .todo-form {
    margin: 0 auto 20px auto;
  }
  .separator {
    margin-bottom: 20px;
  }
}